@import url(./style.css);

@media screen and (max-width: 768px) {
    body {
        margin: 0 auto;
    } 
    section {
        height: auto;
    }
    .logo {
        width: 20%;
    }
    .logo img {
        width: 100%;
    }
    header {
        font-size: 1rem;
        justify-content: space-around;
    }
    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        margin-top: 3rem;
    }
    .gallery-centr {
        flex-direction: column;
        align-items: center;
        width: 80%;
        row-gap: 3rem;
    }
    .gallery-centr img {
        width: 100%;
    }
    .gallery-centr img:nth-child(odd) {
        left: initial;
        animation: barberfoto-rside 2s linear 1;
        animation-fill-mode: forwards;
    }
    .gallery-centr img:nth-child(even) {
        animation: barberfoto-lside 2s linear 1;
        animation-fill-mode: forwards;
    }
    .gallery-lside {
        width: 80%;
        animation: barberfoto-lside 2s linear 1;
        animation-fill-mode: forwards;
    }
    .gallery-rside {
        width: 80%;
        animation: barberfoto-rside 2s linear 1;
        animation-fill-mode: forwards;
    }
    .services-rblock {
        display: none;
    }
    .services-lblock {
        width: 100%;
    }
    .services-lblock div {
        width: 30%;
    }
    .services-lblock p {
        font-size: 2rem;
    }
    .team-wrap {
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;
    }
    .team-wrap div {
        width: 80%;
    }
    .team h1 {
        font-size: 2.5rem;
    }
    .contact {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        margin-top: 3rem;
        row-gap: 3rem;
    }
    .map {
        width: auto;
    }
    .map iframe {
        width: 300px;
        height: 250px;
    }
    .coctact-us {
        width: 80%;
        font-size: 3.5rem;
        text-align: center;
    }
    .coctact-us p {
        font-size: 2rem;
    }
    .forms input, .forms textarea {
        font-size: 1.5rem;
    }
    footer {
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
    }
    footer > div {
        width: 80%;
    }
    .contact-massager img {
        width: 5%;
    }
}

@media screen and (min-width: 1620px ) {
    body {
        max-width: 1620px;
        margin: 0 auto;
    }  
}
